/*Configs Gerais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    color: inherit; /* Garante que a cor do texto seja herdada */
}

/*Topo*/
.main_header {
    width: 100%;
    background-color: white;
    font-weight: 500;
}

.main_header .main_header_content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main_header .main_header_content .logo {
    width: 80px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 150px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;

}

.main_header_content_menu ul li a{
    padding: 0 30px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    height: 100%;
    color:rgb(51, 49, 49);
}

.main_header_content_menu ul li a:hover{
    color: #ffc62d;
    font-size: 1.5rem;
    transition: 1s;
}

.main_header_content_menu img:hover{
    width: 50px;
    transition: 1s;
}
/*FIM - TOPO*/
/*1ª Dobra*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
}
.carousel img {
    width: 100%;
    height: 400px; /* Define a altura fixa das imagens */
    object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
    display: none;
}
.carousel img.active {
    display: block;
}
.arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    outline: none;
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}
/*Fim 1ª Dobra*/
/*Seção Meio*/
#title{
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    padding-bottom: 10px;
    color: #cb9c1a;
    cursor: pointer;
    transition: 0.4s all;
}
#title:hover{
    font-size: 50px;
}
#title2{
    text-align: center;
    font-size: 30px;
}
.icons_meio{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}
#title3{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 450;
    color: #2d4059;
}
/*Bebidas*/
.bebidas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* background-color: #ddd; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.bebidas article{
    margin-left: 1px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 4px dashed #2d4059; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}
.bebidas h3{
    font-size: 25px;
    margin-bottom: 5px;
    color: #2d4059;
    transition: 0.4s all;
}
.bebidas h3:hover{
    font-size: 27px;
    color: #ffc62d;
}
.bebidas p{
    font-size: 15px;
    font-weight: 400;
}
.article_icons {
    margin: 0 auto; /* Centraliza os ícones horizontalmente */
}
.article_imgs{
    display: flex;
    background-color: white;
    width: 95%;
    border-radius: 10px;
    transition: 0.4s all;
}
.article_imgs:hover{
    width: 100%;
}
#brew{
    margin-bottom: 5px;
}
/*Imagens Meio*/
.logo_meio {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de tamanho igual */
    gap: 10px; /* Espaçamento entre as colunas */
    width: 100%; /* Garante que o contêiner ocupe 100% da largura da página */
    /* margin-bottom: -20px; */
}
.logo_meio img {
    width: 100%; /* Garante que as imagens ocupem 100% da largura da coluna */
    height: auto; /* Mantém a proporção das imagens */
    object-fit: cover; /* Garante que as imagens se ajustem ao contêiner */
}
#beans{
    padding-top: 100px;
}
#logo_meio{
    border-radius: 10px;
}
/*Mapa*/
.mapa {
    margin-top: 20px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra */
}
.mapa iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 15px; /* Bordas arredondadas no iframe */
}
#title_mapa{
    font-size: 40px;
    margin-bottom: 5px;
    color: #2d4059;
    transition: 0.4s all; 
    cursor: pointer;
}
#title_mapa:hover{
    font-size: 45px;
    color: #ffc62d;
}
#mapa_p{
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 20px;
}
#mapa_p2{
    padding-top: 10px;
    font-size: 20px;
}
/* Sobre */
.sobre_container {
    display: flex;
    justify-content: space-between; /* Distribui as divs igualmente */
    gap: 20px; /* Espaçamento entre as divs */
    padding: 20px; /* Espaçamento interno do contêiner */
}
.sobre_container h3{
    font-size: 40px;
    text-align: center;
    color: #2d4059;
    transition: 0.4s all; 
    cursor: pointer;
}
.sobre_container h3:hover{
    font-size: 43px;
    color: #ffc62d;
}
.sobre_container p{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}
/* Estilo para as divs sobre e contato */
.sobre, .contato {
    flex: 1; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
}
.icons-container {
    padding-top: 10px;
    display: flex;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    gap: 15px; /* Espaçamento entre os ícones */
    margin-bottom: 5px; /* Espaço inferior para separar dos parágrafos */
    cursor: pointer;
}
#tshirt{
    display: block; /* Permite centralizar com margin: auto; */
    margin: auto; /* Centraliza horizontalmente */
    padding-top: 5px;
    width: 300px;
    border-radius: 20px;
}
.contato button{
    margin-top: 8px;
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    margin-left: auto; 
    margin-right: auto; 
    cursor: pointer;
    font-size: 20px;
    padding: 5px 5px;
    background-color: #2d4059;
    color: white;
    border: none;
    border-radius: 10px;
    width: 35%;
    transition: 0.4s all;
}
.contato button:hover{
    padding: 7px;
    width: 37%;
    font-size: 21px;
}
#rosa{
    color: #ffc62d;
    cursor: pointer;
}
/* Botão Voltar ao Topo */
#btnVoltarAoTopo {
    display: none; /* Inicialmente esconde o botão */
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Distância do botão até o rodapé */
    right: 20px; /* Distância do botão até o lado direito */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#btnVoltarAoTopo:hover {
    opacity: 0.8; /* Opacidade reduzida ao passar o mouse */
}

/* Rodapé */
footer {
    margin-top: 30px;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    padding: 10px;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}