/*Configs Gerais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

/*Topo*/
.main_header {
    width: 100%;
    background-color: white;
    font-weight: 500;
    border-bottom: 3px solid #2d4059;
}

.main_header .main_header_content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main_header .main_header_content .logo {
    width: 80px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 150px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;

}

.main_header_content_menu ul li a{
    padding: 0 30px;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    height: 100%;
    color:rgb(51, 49, 49);
}

.main_header_content_menu ul li a:hover{
    color: #ffc62d;
    font-size: 1.3rem;
    transition: 1s;
}

.main_header_content_menu img:hover{
    width: 50px;
    transition: 1s;
}
/*FIM - TOPO*/
/*1ª Dobra*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.carousel img {
    width: 100%;
    height: 400px; /* Define a altura fixa das imagens */
    object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
    display: none;
}
.carousel img.active {
    display: block;
}
.arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    outline: none;
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}
/*Fim 1ª Dobra*/
/*Seção Meio*/
#title{
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    padding-bottom: 10px;
    color: #cb9c1a;
    cursor: pointer;
    transition: 0.4s all;
}
#title:hover{
    font-size: 50px;
}
#title2{
    text-align: center;
    font-size: 30px;
}
.icons_meio{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}
#title3{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 450;
    color: #2d4059;
}
/*Bebidas*/
.bebidas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bebidas article{
    margin-left: 1px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px dashed #2d4059;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}
.bebidas h3{
    font-size: 25px;
    margin-bottom: 5px;
    color: #2d4059;
    transition: 0.4s all;
}
.bebidas h3:hover{
    font-size: 27px;
    color: #ffc62d;
}
.bebidas p{
    font-size: 15px;
    font-weight: 400;
}
.article_icons {
    margin: 0 auto; /* Centraliza os ícones horizontalmente */
}
.article_imgs{
    display: flex;
    background-color: white;
    width: 95%;
    border-radius: 10px;
    transition: 0.4s all;
}
.article_imgs:hover{
    width: 100%;
}
#brew{
    margin-bottom: 5px;
}
/*Mapa*/
.mapa {
    margin-top: 20px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra */
}
.mapa iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 15px; /* Bordas arredondadas no iframe */
}
#title_mapa{
    font-size: 40px;
    margin-bottom: 5px;
    color: #2d4059;
    transition: 0.4s all; 
    cursor: pointer;
}
#title_mapa:hover{
    font-size: 45px;
    color: #ffc62d;
}
#mapa_p{
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 20px;
}
#mapa_p2{
    padding-top: 10px;
    font-size: 20px;
}